<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drug.price %>
</p>

<%= link_to '修改', edit_drug_path(@drug),class: "btn-primary" %> |
<%= link_to 'Back', drugs_path %>
