<h4 class="text-info">当前时间:<span class="text-success" style="margin-left:25px;"><%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></span></h4>


<legend class="text-success">新处方</legend>
<%= render 'form' %>

<%= javascript_tag defer: 'defer' do -%>
    $('select').not('select[name="prescri[gender]"]').select2({width: 'resolve'});  
<% end -%>
