// Place all the styles related to the prescris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label {
    margin-left: 10px;
	display: -webkit-inline-box!important;
}

.actions {
    margin-left: 530px;
}
table a:visited {
    color: #F7EFEF!important;
}

body .prescri-info div{
	float: left;
}

.drug {
	clear: left;
}